*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
    font-weight: normal;
    white-space: normal;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background: #181818;
}

.generator {
    border: 2px solid black;
    background: #4296c7;
    padding: 3rem;
    border-radius: 2rem;

}

h1 {
    font-weight: 700;
}

#password-and-reset {
    display: flex;

}

#password-and-reset>input {
    height: 3rem;
}


#password {
    flex: 4;
    appearance: none;
    outline: none;
    font-size: 1.25em;
}

#reset {
    flex: 1;
    font-size: 1.1em;
}

output {
    font-size: 1.25em;
}

#password-length {
    display: flex;
    justify-content: space-evenly;
}

#conditions>div>label {
    font-size: 1.25em;
}

input[type="checkbox"] {
    height: 1.5em;
    width: 1.5em;
}